<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>商品信息管理系统</title>
</head>
<body bgcolor="#e0ffff">
<br>
<div style="text-align: center">
    <h3>欢迎使用商品信息管理系统</h3>
    <h4 style="display: inline">用户：</h4><span th:text="${code}"></span>
    <h4 style="display: inline">&nbsp&nbsp&nbsp注册名：</h4><span th:text="${name}"></span>
    <br>
    <br>
    <div>
        <img th:src="'image/商品管理.jpg'" height="138px" width="639px" th:if="${result.getRole()=='商家'}">
        <img th:src="'image/商品浏览.jpg'" height="190px" width="639px" th:if="${result.getRole()=='顾客'}">
    </div>
</div>
</body>
</html>